<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="page-container">
    <header th:replace="fragments/commons::nav"></header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form class="mx-auto w-75 "
              th:method="post"
              th:action="@{/home}">

            <div th:each="t : ${tasks}" th:object="${t}" class="card-group task-card">
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{name}"></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{username}"></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div class="card-footer">
                        <small th:class="|classifications ${t.classification.name}|" th:text="*{classification.name}"></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title" >Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{dueDate}"></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{progress.name}"></small>
                    </div>
                </div>

                <a th:href="@{/home/progress/{id}(id = *{id})}" class="button prBtn">Progress</a>
            </div>

        </form>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>
