html {
    font-family: Helvetica, sans-serif;
}

main {
    border-top: solid 2px rgb(188, 185, 185);
}

nav span {
    font-size: 38px;
    font-weight: 700;
    padding-left: 0;
    margin-left: 0;
    margin-right: 100px;
}

nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

}

nav li {
    display: inline-block;
    margin-right: 25px;
}

li a {
    text-decoration-line: none;
}